* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 25px;
    color: #070707;
}

h1 {
    font-size: 48px;
    line-height: 66px;
}

.container {
margin-inline: auto;
width: min (90%, 970px);
}